@{
    ViewData["Title"] = "Home Page";
}
@model EFBirdData.ViewModels.IndexViewModel

<div class="container" >
    @Html.Partial("LinkedTable", Model.LinkedResultTable)
</div>

<div class="container">

    @Html.Partial("SightingsTable", Model.ReportView)
</div>













