@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<EFBirdData.Models.Bird>

<div class="container">
    <h1>Birds</h1>
    <hr />
@foreach (var bird in Model)
  {

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @bird.CommonName
                    
                </h3>
            </div>
                <div class="panel-body">
                    <a asp-action="Bird" asp-route-id="@bird.Id" >View Detail</a> 
                </div>
            <div class="panel-footer">
                <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                    <div class="form-group">

                        <div class="pull-right">
                            <input type="submit" value="+" class="btn btn-sm" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
   }  
            

  




