@model EFBirdData.ViewModels.ReportResultViewModel

<div class="container  col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                @Model.Title
            </h3>
        </div>
        @foreach (var item in Model.Items)
        {
            <div class="panel-body">
                    @item.Name <span class="pull-right">
                        @item.Value
                    </span>
            </div>
        }
    </div>
</div>