@model EFBirdData.ViewModels.SightingsForYearReportViewModel
<div class="container  col-md-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                @Model.TableName
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        @foreach (var item in Model.Items)
                        {
                            <th class="text-center">
                                @item.Name
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var item in Model.Items)
                        {
                            <td class="text-center">
                                @item.Value
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
